body
{
	background-color: rgb(47,49,54);
	font-family:   Verdana, Arial, Trebuchet MS, Times New Roman;
	color: rgb(254,254,254);
}
/*
h1
{
	font-family:   Verdana, Arial, Trebuchet MS, Times New Roman;
	color: rgb(254,254,254);
}*/